/* 
    name: Tamim Alhumaydhi
    id:2037095
    date:2/17
*/

/* Basic styling for the body */
body {
    font-family: 'Arial', sans-serif;
    color: #4a2c02; /* Text color */
    background-color: #f4e9d3; /* Background color */
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
}

/* Header styling */
header {
    background-color: #d3c4a8; /* Background color for header */
    padding: 20px 10%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds shadow to the header */
}

/* Header title styling */
header h1 {
    color: #8c6239; /* Text color for the header title */
}

/* Navigation styling */
nav ul {
    list-style: none; /* Removes default list styling */
    padding: 0;
}

/* Navigation item styling */
nav ul li {
    display: inline; /* Displays list items inline */
    margin-right: 20px;
}

/* Navigation link styling */
nav ul li a {
    text-decoration: none; /* Removes underline from links */
    color: #5a4230; /* Text color for links */
    transition: 1s;
}

/* Hover effect for navigation links */
nav ul li a:hover {
 opacity: 0.5;  /* Adds transpare on hover */
}

/* Main content area styling */
main {
    text-align: center; /* Centers the text */
    padding: 20px;
}


/* Footer styling */
footer {

    background-color: #d3c4a8; /* Background color for footer */
    color: #4a2c02; /* Text color for footer */
    text-align: center; /* Centers the text */
    padding: 10px ;
    position: fixed; /* Fixes footer to the bottom */
    bottom: 0;
    width: 100%;
}

  




